{% extends "bootstrap/base.html" %} {% block content %}

<style type="text/css">
  body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
  }
  .spinner-1:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    border-radius: 50%;
    border: 6px solid transparent;
    border-top-color: #0091ea;
    animation: spinner 0.7s linear infinite;
  }
  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }
  li {
    background-color: #bdbdbd;
  }
  li:nth-child(odd) {
    background-color: #0091ea;
  }
</style>

<div class="container">
  <div class="jumbotron text-center">
    <h3>Review Classifier</h3>
  </div>
</div>

<div class="container">
  <form method="POST" action="{{ url_for('analyse') }}" id="myForm">
    <label>Enter Your Text Below</label>
    <textarea
      class="form-control"
      id="myTextarea"
      rows="3"
      cols="2"
      name="rawtext"
    ></textarea>
    <br />
    <p>Or</p>
    <select name="dropdown" onchange="changeText(this.value)">
      <option selected>Choose a demo text</option>
      <option value="This is a good book, strongly recommended."
        >Review 1</option
      >
      <option value="This is a very bad item">Review 2</option>
      <!-- Add demo text in the value field -->
      <option value="Discrete Mathematics">Review 3</option>
      <option value="Discrete Mathematics">Review 4</option>
      <option value="Discrete Mathematics">Review 5</option>
      <option value="Discrete Mathematics">Review 6</option>
      <option value="Discrete Mathematics">Review 7</option>
      <option value="Discrete Mathematics">Review 8</option>
      <option value="Discrete Mathematics">Review 9</option>
      <option value="Discrete Mathematics">Review 10</option>
    </select>

    <input
      type="submit"
      onclick="myAnalyser()"
      value="Submit"
      class="btn btn-primary "
    />
    <input
      type="button"
      onclick="myFunction()"
      value="Clear"
      class="btn btn-outline-dark"
    />

    <a href="{{ url_for('index') }}" type="button" class="btn btn-danger">
      Reset</a
    >
  </form>
</div>
<br />
<hr />
<div class="main">
  <div class="container">
    <div class="card">
      <div class="card-header">
        Main Points
      </div>
      <div class="card-body">
        <h5 class="card-title">
          <div class="alert alert-primary" role="alert">
            This entered review is {{ number_of_tokens }}.
          </div>
        </h5>
      </div>
    </div>

    {% endblock %}

    <!-- Scripts starts here -->
    {% block scripts %}

    {{ super() }}

    <script>
      function myFunction() {
        document.getElementById("myForm").reset();
      }
    </script>
    <script>
      function changeText(text) {
        document.getElementById("myTextarea").value = text;
      }

      function myAnalyser() {
        // add code for voice

        // get all voices that browser offers
        var available_voices = window.speechSynthesis.getVoices();

        // this will hold an english voice
        var english_voice = "";

        // find voice by language locale "en-US"
        // if not then select the first voice
        for (var i = 0; i < available_voices.length; i++) {
          if (available_voices[i].lang === "en-US") {
            english_voice = available_voices[i];
            break;
          }
        }
        if (english_voice === "") english_voice = available_voices[0];

        // new SpeechSynthesisUtterance object
        var utter = new SpeechSynthesisUtterance();
        utter.rate = 1;
        utter.pitch = 0.5;
        utter.text = document.getElementById("myTextarea").value;
        utter.voice = english_voice;
        // speak
        window.speechSynthesis.speak(utter);

        document.querySelector(".main div").style.display = "none";
        //Hide the main division
        document.querySelector(".main").classList.add("spinner-1");
        // Server request
        setTimeout(() => {
          document.querySelector(".main").classList.remove("spinner-1");
          //Remove the animation
          document.querySelector(".main div").style.display = "block";
          //Show the main division
        }, 5000); //Number of seconds to last
      }
    </script>

    <!-- Prevent it from being overwritten -->

    {% endblock %}
  </div>
</div>
